#footer {
    width: 100%;
    border-top: solid 1px #F9F4EC;
    background: #141313;
    padding: 80px;
    scroll-snap-align: start;

    @media(max-width: 840px) {
        padding: 40px;
    }

    footer {
        .flex-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media(max-width: 900px) {
                flex-direction: column;
                align-items: flex-start;
            }

            .newsletter {
                text-align: left;

                h3 {
                    font-size: 48px;
                    margin-bottom: 20px;

                    @media(max-width: 1100px) {
                        font-size: 44px;
                    }

                    @media(max-width: 900px) {
                        font-size: 40px;
                    }

                    @media(max-width: 700px) {
                        font-size: 36px;
                    }

                    @media(max-width: 515px) {
                        font-size: 32px;
                    }
                }

                .input-wrap {
                    text-align: left;
                    width: 500px;

                    input {
                        font-size: 24px;
                        width: 100%;
                        
                        @media(max-width: 1100px) {
                            font-size: 22px;
                        }

                        @media(max-width: 900px) {
                            font-size: 20px;
                        }
                    }

                    
                }

                button {
                    margin-top: 25px;
                }

                @media(max-width: 700px) {
                    .input-wrap {
                        width: 130%;

                        input {
                            font-size: 18px;
                        }
                    }
                }

                @media(max-width: 515px) {
                    width: 70%;

                    .input-wrap {
                        width: 100%;

                        input {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .social-links {
            ul {
                display: flex;

                li {
                    margin: 0 20px;
                    
                    i {
                        font-size: 24px;

                        @media(max-width: 1100px) {
                            font-size: 22px;
                        }

                        @media(max-width: 900px) {
                            font-size: 20px;
                        }

                        @media(max-width: 700px) {
                            font-size: 18px;
                        }

                        @media(max-width: 515px) {
                            font-size: 16px;
                        }
                    }
                }

                @media(max-width: 900px) {
                    margin-top: 40px;
                    li {
                        &:nth-child(1) {
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        .locations {
            padding-top: 60px;
            ul {
                display: flex;
                justify-content: center;

                li {
                    margin: 0 40px;

                    h3 {
                        font-size: 22px;
                        line-height: 1.5;

                        span {
                            display: block;
                        }
                    }

                    h4 {
                        font-size: 22px;
                    }

                    @media(max-width: 1100px) {
                        h3, h4 {
                            font-size: 20px;
                        }
                    }

                    @media(max-width: 900px) {
                        h3, h4 {
                            font-size: 18px;
                        }
                    }

                    @media(max-width: 700px) {
                        margin: 0 20px;

                        h3, h4 {
                            font-size: 16px;
                        }
                    }
                }

                @media(max-width: 515px) {
                    flex-direction: column;
                    align-items: flex-end;
                    
                    li {
                        // margin: 0 20px;
                        margin: 10px 0;
                        text-align: right;
                    }
                }
            }
        }
    }
}